@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-alternates-v17-latin_cyrillic-regular.woff2') format('woff2'),
       url('fonts/montserrat-alternates-v17-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-alternates-v17-latin_cyrillic-700.woff2') format('woff2'),
       url('fonts/montserrat-alternates-v17-latin_cyrillic-700.woff') format('woff');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  max-width: 2560px;
  min-width: 800px;
  font-family: 'Montserrat Alternates';
  font-size: 24px;
  overflow-x: hidden;
}

.header {

  background-color: #428eff;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
}

.header-logo {
  max-width: 80px;
  max-height: 80px;
}

.header-title {
  padding-top: 20px;
}

.main-sidebar {
  border-right: 3px solid #142a4b;
  padding: 10px;
  max-width: 280px;
  position: absolute;
 }

.main-sidebar__title{
  color: #428eff;
  padding-bottom: 30px;
}

.main-sidebar__link {
  text-decoration: none;
  color: #142a4b;
  transition: 0.2s;
}

.main-sidebar__link:hover {
  color: #428eff;
}

 .section {
  margin-top: 20px;
  padding-right: 320px;
  position: relative;
  left: 320px;
}

.section-title {
  position: sticky;
  top: 0;
  background-color: #428eff;
  padding: 10px;
}

.section-content {
  text-indent: 20px;
}

.section-content__list {
  padding-top: 20px;
}

.up {
  position: fixed;
  bottom: 45px;
  left: 45px;
  text-decoration: none;
  color: #142a4b;
  transition: 0.2s;
}

.up:hover {
  color: #428eff;
}
