@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-alternates-v17-latin_cyrillic-regular.woff2') format('woff2'),
       url('fonts/montserrat-alternates-v17-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-alternates-v17-latin_cyrillic-700.woff2') format('woff2'),
       url('fonts/montserrat-alternates-v17-latin_cyrillic-700.woff') format('woff');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  font-family: 'Montserrat Alternates';
  font-size: calc(24 / 1440 * 100vw);
}

.header {
  width: 100%;
  background-color: #428eff;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
}

.header-logo {
  max-width: calc(80 / 1440 * 100vw);
  max-height: calc(80 / 1440 * 100vw);
}

.header-title {
  padding-top: calc(20 / 1440 * 100vw);
}

.main-sidebar {
  border-right: calc(3 / 1440 * 100vw) solid #142a4b;
  padding: calc(10 / 1440 * 100vw);
  max-width: calc(280 / 1440 * 100vw);
  position: absolute;
  width: 30%;
 }

.main-sidebar__title{
  color: #428eff;
  padding-bottom: calc(30 / 1440 * 100vw);
}

.main-sidebar__link {
  text-decoration: none;
  color: #142a4b;
  transition: 0.2s;
}

.main-sidebar__link:hover {
  color: #428eff;
}

 .section {
  margin-top: calc(20 / 1440 * 100vw);
  position: relative;
  left: calc(320 / 1440 * 100vw);
  width: 70%;
}

.section-title {
  position: sticky;
  top: 0;
  background-color: #428eff;
  padding: calc(10 / 1440 * 100vw);
}

.section-content {
  text-indent: calc(20 / 1440 * 100vw);
}

.section-content__list {
  padding-top: calc(20 / 1440 * 100vw);
}

.up {
  position: fixed;
  bottom: calc(45 / 1440 * 100vw);
  left: calc(45 / 1440 * 100vw);
  text-decoration: none;
  color: #142a4b;
  transition: 0.2s;
}

.up:hover {
  color: #428eff;
}
